/* Общие стили */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Измените на 'block' для вертикального расположения на мобильных */
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Основной контент */
main {
    flex: 1; 
    padding: 20px;
}

/* Подвал */
footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

/* Галерея */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Сохраняет пропорции изображения */
}

/* Кнопки */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов */
}

button:hover {
    background-color: #45a049; /* Цвет при наведении */
}

/* Формы */
form {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание элементов формы */
}

form input,
form textarea {
    margin-bottom: 10px; /* Отступ между полями */
    padding: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    border: 1px solid #ccc; /* Граница поля */
}

form input[type="submit"] {
    background-color: #4CAF50; /* Цвет кнопки отправки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Без границы */
}

form input[type="submit"]:hover {
    background-color: #45a049; /* Цвет при наведении на кнопку отправки */
}

/* Миниатюры изображений */
.thumbnail {
    width: 200px; /* Ширина миниатюры */
    cursor: pointer; /* Указатель при наведении */
}

/* Модальное окно */
#modal__window {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7); /* Тень модального окна */
    opacity: 1; /* Полная непрозрачность */
    transition: opacity 5s ease; /* Плавный переход для непрозрачности */

    display: none; /* Изначально скрыто */
    position: fixed; /* Фиксированное позиционирование */
    top: 0; 
    left: 0; 
    width: 100vw; /* Ширина на весь экран */
    height: 100vh; /* Высота на весь экран */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
    z-index: 1000; /* Поверх других элементов */
}

#popup-img {
    position: absolute; 
    max-width: 100%; 
    top: 35%; 
    left: 40%; 
    border: 5px solid #45a049; 
    text-align: center; 
    opacity: 1; 
    box-shadow: 0 0 50px rgba(250, 250, 15, 0.5); 
    transform: scale(2); 
    transition: opacity 3s ease, transform 3s ease; 
}

#modal__window p {
    position: absolute; 
    bottom: 20vh; 
    left: 25vw; 
    font-size: 5rem; 
    color: white; 
    width: 80%;  
}

.close {
    position: absolute; 
    top: 20px; 
    right: 30px; 
    color: white; 
    font-size: 30px; 
    cursor: pointer; 
}

@media (max-width: 600px) {
    nav ul {
        display: flex; /* Убедитесь, что список отображается как flex-контейнер */
        flex-direction: column; /* Вертикальное расположение навигации */
        align-items: center; /* Центрируем элементы */
        width: 100%; /* Занимает всю ширину экрана */
        padding-left: 0; /* Убираем отступ слева для списка */
        margin-bottom: 10px; /* Отступ снизу для разделения с другими элементами */
        background-color: #4CAF50; /* Фон меню на мобильных устройствах */
    }
    
    nav ul li {
        display: block; /* Изменяем на block для вертикального расположения элементов списка */
        margin-bottom: 10px; /* Отступ между элементами списка */
    }

    #modal__window {
        pointer-events: none;
    }
}
